<h1>
  Imóveis
  <button type="button" class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#new-realty">
    <%= glyph(:plus) %> Cadastrar Novo
  </button>
</h1>

<%= render 'new' %>

<% if @realties.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.realty.reference') %></th>
        </tr>
      </thead>
      <tbody>
        <% @realties.each do |r| %>
          <tr>
            <td><%= r.reference %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="alert alert-info">
    Você ainda não cadastrou nenhum Imóvel. Para cadastrar um, clique no botão azul acima.
  </p>
<% end %>
