common: &common
  adapter:  postgresql
  encoding: utf8
  pool:     25

local: &local
  <<: *common
  username: postgres

development:
  <<: *local
  database: imobify_development

test:
  <<: *local
  database: imobify_test

staging:
  <<: *local
  database: imobify_staging

production:
  <<: *common
  database: _database 
  username: _username
  password: _password
  host:     _host
