@media (max-width: 991px) {
  #realty_description {
    height: 100px !important;
  }
}

@media (min-width: 992px) {
  #realty_description {
    height: 182px !important;
  }
}

.photos {
  margin-bottom: 15px;

  #trash {
    margin-bottom: 15px;
    border: 1px dotted;

    .photo {
      display: none;
    }
  }

  @media (max-width: 991px) {
    #trash {
      margin-top: 15px;
    }
  }

  @media (max-width: 991px) {
    .text-muted {
      margin: 15px 0 0 0;
    }
  }

  @media (min-width: 992px) {
    .text-muted {
      margin-top: 50px;
      text-align: center;
    }
  }

  #photos-container {
    width: 100%;
    margin-bottom: -4px;

    &.not-empty {
      min-height: 107px;
    }

    .img-thumbnail {
      float: left;
      margin: 0 4px 4px 0 !important;
      width: 93px;
      height: 93px;
    }  

    .photo {
      cursor: pointer;
    }
  }
}
