@media (max-width: 991px) {
  #realty_description {
    height: 100px !important;
  }
}

@media (min-width: 992px) {
  #realty_description {
    height: 182px !important;
  }
}

.photos {
  margin-bottom: 15px;

  #trash {
    margin-bottom: 15px;
    border: 1px dotted;

    .photo {
      display: none;
    }
  }

  @media (max-width: 991px) {
    #trash {
      margin-top: 15px;
    }
  }

  #photos-container {
    width: 100%;
    margin-bottom: -4px;

    &.not-empty {
      min-height: 107px;
    }

    .photo {
      cursor: pointer;
    }
  }
}
