.modal-body {
  padding-bottom: 0 !important;
}

.modal-footer {
  margin-top: 0 !important;
}

.jumbotron h1 {
  font-size: 3em;
}

.realties {
  & > div {
    padding: 15px;
  }

  @media (max-width: 767px) {
    & > div {
      padding-bottom: 0;
    }
  }

  .realty {
    background-color: #f8f8f8;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    height: 150px;

    & > div {
      background: rgba(0,0,0,0.5);
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 20px;
      padding: 4px;
      padding-left: 8px;
      width: 100%;

      p {
        margin: 0;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
